{% extends "base.html" %}
{% block content %}
<div class="card p-4">
    <h2 class="mb-4" style="color: #00ff9d;"><i class="fas fa-folder-open"></i> All Documents</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Document</th>
                <th>Size</th>
                <th>Uploaded</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td>{{ doc.user.username }}</td>
                <td>{{ doc.original_filename }}</td>
                <td>{{ (doc.size / 1024)|round(1) }} KB</td>
                <td>{{ doc.uploaded_at.strftime('%b %d, %Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}